<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Archive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Boards.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Build.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Clean.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Distribute.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Document.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Fast.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Index.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>Make.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Style.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Unarchive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Upload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>81D014451E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D014461E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D014471E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D014481E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D014491E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D0144A1E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D0144B1E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D0144C1E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D0144D1E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D0144E1E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D0144F1E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D014501E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D014511E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D014521E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>81D014541E835E530035BD58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
